h1 {
    color: rgb(2, 59, 40);
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body{
    background-color: rgb(255, 255, 255);
}

#banner{
    height: 320px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 16px;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 37px;
    color: black;
    font-weight: normal;
}

p {
    color: rgb(59, 59, 59);
}

#container{
    /* max-width: 720px; */
    /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  display: grid;
  place-items: center;
  /* margin: 80px; */
  margin: 25px 50px 25px 50px;
}